@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-animate";

@font-face {
    src: url("/fonts/Benzin-Medium.woff2") format("woff2");
    font-family: "Benzin";
    font-weight: 500;
    font-style: normal;
}

:root {
    --background: #0a0a0a;
    --background-2: #101010;
    --background-3: #131313;
    --background-mobile: #0d0d0d;
    --foreground: #ededed;
    --foreground-2: #f1f1f1;
    --secondary: #1d1d1d;
    --secondary-2: #b7b7b7;
    --secondary-3: #919191;
    --secondary-4: #646464;
    --secondary-5: #1e1e1e;
    --secondary-6: #2d2d2d;
    --main-accent: #a412e9;
    --primary-hover: #d5d5d520;
    --secondary-hover: #2d2d2d;
    --pressed: #00000020;
    --stroke: #222222;
    --stroke-2: #d9d9d9;
    --stroke-3: #80808055;
    --gray: #242424;
    --gray-2: #353535;
    --inactive: #757575;
    --green-accent: #b9ff9b;
    --red-accent: #ff9b9d;
}

@theme {
    --font-benzin: "Benzin", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-background-2: var(--background-2);
    --color-background-3: var(--background-3);
    --color-background-mobile: var(--background-mobile);
    --color-secondary-2: var(--secondary-2);
    --color-foreground: var(--foreground);
    --color-foreground-2: var(--foreground-2);
    --color-secondary: var(--secondary);
    --color-secondary-3: var(--secondary-3);
    --color-secondary-4: var(--secondary-4);
    --color-secondary-5: var(--secondary-5);
    --color-secondary-6: var(--secondary-6);
    --color-main-accent: var(--main-accent);
    --color-primary-hover: var(--primary-hover);
    --color-pressed: var(--pressed);
    --color-secondary-hover: var(--secondary-hover);
    --color-stroke: var(--stroke);
    --color-stroke-2: var(--stroke-2);
    --color-stroke-3: var(--stroke-3);
    --color-gray: var(--gray);
    --color-gray-2: var(--gray-2);
    --color-inactive: var(--inactive);
    --font-manrope: var(--font-manrope);
    --color-green-accent: var(--green-accent);
    --color-red-accent: var(--red-accent);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Manrope, sans-serif;
    overflow-x: hidden;
}

@layer components {
    .pseudo-base {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            opacity: 0;
            transition: all 150ms;
            border-radius: 2rem !important;
        }
    }

    .primary-hover {
        &:hover::before {
            background: var(--primary-hover);
            opacity: 100%;
        }
    }

    .pressed {
        &:focus::before {
            background: var(--pressed);
            opacity: 100%;
        }
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hover-line {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #ffffff30;
            transition: width 0.3s ease;
        }
        &:hover::after {
            width: 100%;
        }
    }
}
